body{
	overflow-x: hidden;
	background-color:#202020;
}

.rowlet, .rowlet2{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 1300px;
	padding: 0px 10px;
	box-sizing:border-box;
	margin-left:20px;
}

.rowlet{
	margin-bottom:-120px;
}

.rowlet2{
	margin-bottom:-30px;
}

.fotocont{
	box-sizing: border-box;
	padding:10px 10px 10px 0px;
	width: 260px;
	max-width: calc(100%-10px);
	height: 300px;
}

[id*="minimodal-"] {
	border-radius: 5px;
	border-color:#ffffff;
	cursor: pointer;
  transition: 0.3s;
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  display: block;
  justify-content: start;
}

[id*="minimodal-"]:hover{
	opacity: 0.7;
}

.textual, .textual2{
	position:relative;
	right:-5px;
	font-size:25px;
	color:#FFFFFF;
	font-family:'Arial';
	cursor:default;
}

.textual{
	top:-160px;
}

.textual2{
	top:-245px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 1360px; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbbbbb;
  text-decoration: none;
  cursor: pointer;
}

[id*="mainpic-"]{
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	position:relative;
	top:10%;
}

#mainpic-7,#mainpic-8,#mainpic-9,#mainpic-10,#mainpic-11,#mainpic-37,#mainpic-38,#mainpic-39,#mainpic-40,#mainpic-42,#mainpic-44,#mainpic-46{
	transform:scale(0.5,0.5);
	top:-32%;
}
